/*Custom theme css*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'UVN Tin Tuc Hep' !important;
}
.uimage-small {
  height: 27px;
  width: 27px;
}
.tab-activity li{
  line-height: 21px !important;
}
input[disabled=disabled]{
  background-color: #f1f1f1 !important;
}
#project-datatable .btn {
  margin-right: 5px;
}
#task-control-bar{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 30px;
  border-top: 2px solid #00ABA9;
  background-color: #FFFFFF;
}
#main{
  margin-left: 0px !important;
}
#task-control-bar form{
  margin: 0px;
}
#task-control-bar .form-horizontal .controls {
  margin-left: 0px !important;
}
#task-control-bar .form-horizontal.form-column [class*="span"] .control-group .control-label {
  width: inherit !important;
}
.other_filter_wrapper{
  width: 20%;
}
.s-team-name{
  cursor: pointer;
}
.s-team-status{
  float: right;
}
#other_filter{
  width: 200px;
}
/*Loading gif*/
.loader {
  display: none;
}
.permission-submit{
  float: right;
  height: 30px;
  margin-right: 40px;
}
.permission-submit button{
  margin-right: 5px;
}
.global-loading{
  display: none;
}
.global-loading img{
  margin-top: 4px;
  width: 30px;
}
/*Load more*/
.load-more-activity {
  background-color: #eee;
  color: #929292;
  font-weight: bold;
  text-align: center;
  padding: 6px 0;
  cursor: pointer;
  /*display: none;*/
}
.load-more-activity:hover {
  background-color: #D8D8D8;
}
/*User chat list status*/
.userlistchat .status {
  color: #B21000;
  float: right;
  font-size: 8px;
  line-height: 40px;
}
.userlistchat .status.active {
  color: #267326;
}
.userlistchat .status.afk {
  color: #F4A64B;
}
.span12-no-margin {
  margin-left: 0px !important;
}
.userlist .name {
  cursor: pointer;
}
/*Chat box*/

.chatbox {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 260px;
  display: none;
}
/*Task board*/
#task-board{
  width: 100%;
  margin-bottom: 40px;
}
#task-board .span10:first-child {
  margin-left: 17.094% !important;
}
#task-board .story-point {
  color: #ffffff;
}
#task-board .task-name {
  cursor: pointer;
}
#task-board td {
  vertical-align: top;
}
#task-board .user-story {} #task-board .user-story .story-content {
  padding: 10px !important;
  position: relative;
  min-height: 200px;
}
#task-board .user-story .story-description {
  position: absolute;
  bottom: 10px;
  line-height: 20px !important;
  text-align: center;
  width: 87%;
}
#task-board .story-description .badge {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  display: block;
  margin: 0 auto 5px;
}
#task-board .story-description .team-do-story {} #task-board .story-description .story-days {} #task-board .story-description .story-status {} #task-board .story-description .story-progress {
  margin-top: 10px;
}
#task-board .story-tasks .box-content {
  padding: 5px !important;
}
#task-board .story-tasks .task-box {
  min-height: 200px;
  margin-bottom: 30px;
}
#task-board .progress {
  margin-bottom: 0px !important;
  min-height: 20px !important;
}
.story-tasks .badge {
  padding-left: 0px !important;
  padding-right: 0px !important;
  font-size: 10px !important;
  line-height: 16px !important;
  min-height: 16px !important;
  text-align: center;
}
#task-board .progress .bar {
  color: #4D4D4D;
  line-height: 20px;
}
#task-board .task-assign-name {
  font-size: 8px !important;
  text-align: center;
}
.taskboard-user-image{
  width: 56px;
  height: 56px;
}
.task-item .box-content .row-fluid:first-child{
  min-height: 86px;
}
.task-item-unsortabled .box-content .row-fluid:first-child{
  min-height: 86px;
}
/*Datatables*/
.dataTable {
  width: 100% !important;
}
.dataTable .row_selected {
  background-color: #C3DDF6;
}
#action_bar {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E3E3E3;
  /*border-style: solid;
  border-width: 1px;*/

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 6px;
  padding-bottom: 10px;
  padding-top: 10px;
}
#btn-download-excel {
  margin-right: 20px;
}
#btn-add-project {
  margin-left: 20px;
}
#advanceFilter {
  margin-top: 7px;
}
#project-datatable_length {
  min-width: 60px;
  margin-top: 5px;
  float: right;
}
#project-datatable_filter {
  margin-top: 5px;
}
/*Modal with tab*/

.modal-with-tab .box-title {
  margin-top: 0px;
}
.modal-with-tab .close {
  margin-right: 15px;
  margin-top: 3px;
}
.modal-with-tab .box-title h3 i {
  margin-right: 2px;
}
.modal-with-tab .box-content {
  padding: 0px;
}
.no-border .box-content {
  border-radius: 0px;
}
/*Date range picker*/

.daterangepicker {
  z-index: 1500;
}
.ui-datepicker {
  z-index: 2000 !important;
}
/*Add project modal*/

.add-min-height {
  min-height: 36px;
}
.user-info-modal .tags > a {
  background: none repeat scroll 0 0 #EEEEEE;
  color: #666666;
  display: inline-block;
  padding: 0 4px;
  text-decoration: none;
}
.user-info-modal .tags > a:hover {
  background: none repeat scroll 0 0 #C8C8C8;
  color: #333333;
}
.comment-list {
  margin-bottom: 10px;
}
.comment-list .media img {
  width: 60px;
}
.comment-list .media-heading small {
  margin-left: 10px;
}
/*Comment form*/

.reply-comment-form-temp {
  display: none;
}
.cancel-reply-comment {
  margin-left: 6px;
}
.btn-new-comment{
  margin-bottom: 10px;
}
.row_selected {
  background-color: #D9EDF7 !important;
}
.form-validate textarea.error{
  border-color: #B94A48;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #B94A48;
}
.form-validate label.error{
  color: #B94A48;
}
/*Team list*/

.team .loader img{
  height: 18px;
  padding-left: 5px;
}
.team-name{
  color: #FFFFFF;
}
.team-list {
  min-height: 50px !important;
}
.team-list .box-content {
  padding: 0 !important;
}
.team-list .team-members {
  padding-left: 10px;
  padding-right: 10px;
  clear: both;
  padding-bottom: 15px;
  overflow: auto;
}
.team-temp{
  display: none;
}
.team-list .team {
  margin-left: 0px;
  padding-left: 5px;
  padding-right: 10px;
}
.team-list .team:last-child {
  margin-bottom: 20px;
}
.team-list .team-members {
  min-height: 110px;
}
.team-list .slimScrollDiv {
  overflow: visible !important;
}
.team-list .box-title {
  background: none repeat scroll 0 0 #EEEEEE;
  color: #444444;
}
.team-list .alert {
  margin-bottom: 10px;
}
.people-list .slimScrollDiv {
  overflow: visible !important;
}
.people-list .box-content {
  padding: 0 5px 5px 15px;
  text-align: center;
}
.person .person-name, .leader .person-name{
  margin: 0px;
  font-size: 10px;
  color: #333333;
  text-align: center;
  line-height: 17px;
}
.person, .leader {
  width: 80px;
  border: 2px solid #DDDDDD;
  border-radius: 5px;
  background-color: #F2F2F2;
  margin-right: 13px;
  margin-top: 10px;
  display: inline-block;
  float: left;
  z-index: 9000;
  text-align: center;
}
.leader{
  border-color: #FF3333 !important;
}
.person img {
  width: 80px;
  margin-top: 3px;
  display: inline-block;
}
.person-name{
  cursor: pointer;
}
.span2-5 {
  width: 18.162375% !important;
}
/*User story management*/

#btn-add-story {
  margin-left: 20px;
}
/*Release management*/

.release-list {
  min-height: 50px !important;
}
.release-list .box-content {
  padding: 0 !important;
}
.release-list .release-stories {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  clear: both;
  padding-bottom: 0;
  overflow: auto;
  min-height: 110px;
}
.release-list .release {
  margin-left: 0px;
  padding-left: 5px;
  padding-right: 10px;
}
.release-list .release:last-child {
  margin-bottom: 20px;
}
.release-list .slimScrollDiv {
  overflow: visible !important;
}
.release-list .box-title {
  background: none repeat scroll 0 0 #EEEEEE;
  color: #444444;
}
.release-list .alert {
  margin-bottom: 10px;
}
/*.story .badge {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  display: block;

  margin-top: 3px;
  margin-right: 5px;
  float: right;
}*/
/*.story .story-name {
  font-weight: bold;
  color: #ffffff;
  margin-left: 5px;
}*/
.release-list .slimScrollDiv {
  overflow: visible !important;
}
.story-list .slimScrollDiv {
  overflow: visible !important;
}
.story-list .slimScrollDiv .box-content {
  overflow: visible !important;
}
/*Sprint management page*/

#sprint-team-list {
  padding: 0px 5px 5px 5px !important;
}
.sprint-list {
  min-height: 50px !important;
}
.sprint-list .sprint-teams, .sprint-list .sprint-teams-disabled {
  padding: 5px;
  clear: both;
  overflow: auto;
  min-height: 110px;
}
.sprint-list .sprint-teams-disabled {
  opacity: 0.6;
}
.sprint-list .sprint {
  margin-left: 0px;
  padding-left: 5px;
  padding-right: 10px;
}
.sprint-list .sprint:last-child {
  margin-bottom: 20px;
}
.sprint-list .slimScrollDiv {
  overflow: visible !important;
}
.sprint-list .box-title {
  background: none repeat scroll 0 0 #EEEEEE;
  color: #444444;
}
.sprint-list .alert {
  margin-bottom: 10px;
}
.sprint-name{
  color: #FFFFFF !important;
}
.story .badge {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-top: 3px;
  margin-right: 5px;
}
.sprint .box-content {
  border-spacing: 10px;
  padding: 0 !important;
}
/*add*/

.story {
  background-color: #A4CCF1;
  border-radius: 5px;
  line-height: 30px;
  min-width: 200px;
  z-index: 9000;
  min-height: 70px;
  padding-left: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
  /*max-width: 238px;*/
}
.edit-story{
  color: #FFFFFF;
}
.story-addable{
  border: 2px solid #00ABA9;
}
.story-unaddable{
  border: 2px solid #FF1919;
}
.sprint-story-list .story div {
  /*display: inline-block;*/
}
.sprint-story-list .slimScrollDiv {
  overflow: visible !important;
}
.story .story-name {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 3px;
  display: block;
  margin-left: 5px;
  line-height: 17px;
}
.sprint-story-list .box-content {
  padding: 5px !important;
}
.sprint-list .slimScrollDiv {
  overflow: visible !important;
}
.story-list .slimScrollDiv {
  overflow: visible !important;
}
.story-list .slimScrollDiv .box-content {
  overflow: visible !important;
}
.sprint-status {
  padding-top: 5px;
  padding-bottom: 5px;
}
.s-team {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  width: 245px;
  display: table-cell;
  margin-right: 10px;
  min-width: 245px;
}
.s-team .s-team-name {
  border-bottom: 1px solid #FF0000;
  font-size: 15px;
  line-height: 35px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}
.s-team .s-team-story{
  min-height: 40px;
}
/*Calendar*/

.context-menu-list {
  z-index: 5000 !important;
}
#flot-all-team{
  height: 430px !important;
}